server:
  port: {keyvault}PORT
spring:
  datasource:
    url: "{keyvault}DB_URL"
    username: {keyvault}DB_USERNAME
    password: {keyvault}DB_PASSWORD
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: none
service:
  jreport: {keyvault}PATH_JREPORT
  v: y2
